body
{
margin: 0;
padding: 0;
font-family:  "Open Sans", sans-serif;
}

.notification-bar
{
  background-color: #D4424c;
  font-size: 12px;
  padding-left: 2vw;
  padding-right: 2vw;
  position: sticky;
}

.txt-dec
{
  text-decoration: none;
  color: #ffffff;
}
.notification
{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  position: relative;
  padding: 3px;
}

.cart-out
{
  color: #00afef;
  height: 20px;
  width: 20px;
}

.no-dec
{
  text-decoration: none;
  color: black;
  margin-left: 2px;
  margin-right: 40px;

}

.nav-bar
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 78px;
  padding-right: 76px;
}

.flex
{
  display: flex;
  justify-content: space-evenly;
}

.search-logo
{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid #b7b7b7;
  padding: 6px;
  background-color: rgb(0, 175, 239);
  color: rgb(255, 255, 255);
}

.search-bar
{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.search-icon
{
  border-left: 1px solid #e6e8e7;
  border-radius: 0 4px 4px 0;
  border-top: 1px solid #e6e8e7;
  border-bottom: 1px solid #e6e8e7;
  border-right: none;
  padding: 7px;
}

.Display-pop
{
  font-size:14px;
  margin: 5px 10px 3px;
  color: #333333;
  padding: 4px;

}
.search-Display
{
  border-left: none;
  border-radius: 0 4px 4px 0;
  border-top: 1px solid #e6e8e7;
  border-bottom: 1px solid #e6e8e7;
  border-right: 1px solid #e6e8e7;
  width: 70%;
}

.navigation-bar
{
  border-top: 1px solid #e6e8e7;
    padding: 12px;
    padding-left: 5%;
    display: flex;
    justify-content: space-evenly;
    padding-right: 55%;
    box-shadow: 0px 3px 6px #0000001a;
}

.text-dec
{
  text-decoration: none;
  color: #5c5c5c;
  font-size: 14px;
}

.main-nav-cont
{
  background-color: #ffffff;
  position: sticky;
  top: 0;
}

.desktop-banner
{
  display: flex;
  justify-content: center;
}

.bst-seller-txt
{
  font-size: 28px;
}

